/* header, h1, p, navbar, main, section, fotter, #cat-stuff, .cats-do, h2, div, #cat-stuff, .caring-for-cats button img*/
/*
light blue: #4CC9F0
purple: #7209B7
saturated magenta: #B5179E
dark blue: #3A0CA3
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
header {
  min-width: 100svw;
  height: 100px;
  background-color: salmon;
  padding: 10;
}

h1 {
  color: #3a0ca3;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  letter-spacing: 5px;
}
h2 {
  color: #3a0ca3;
}
main {
  text-align: center;
  padding-top: 20px;
  background-color: lightgrey;
  min-width: 100svw;
  min-height: 100svw;
}
p {
  font-size: 18px;
  color: #7209b7;
}
article {
  height: 80%;
  width: 23%;
  margin: 0px 10px;
  display: inline-block;
  text-align: center;
}
section {
  /* height: 100px; */
  /* width: 400px; */
  margin: 0px auto;
}
#cat-stuff {
  border: 3px grey outset;
}
.cats-do {
  width: 100%;
}
.card {
  border: 2px solid rgb(3, 18, 3);
  margin-bottom: 10px;
  display: inline-block;
  min-height: 150px;
}
#cat-care {
  border: 3px black dotted;
}
.caring-for-cats {
  margin-top: 15px;
}

img {
  width: 200px;
}
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
