/* header, h1, p, navbar, main, section, fotter, #cat-stuff, .cats-do,  button img*/
/*
light blue: #4CC9F0
purple: #7209B7
saturated magenta: #B5179E
dark blue: #3A0CA3
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
header {
  min-width: 100svw;
  height: 100px;
  background-color: salmon;
  padding: 10;
}

h1 {
  color: #3a0ca3;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  line-height: 1;
  letter-spacing: 5px;
}
main {
  text-align: center;
  padding-top: 20px;
  background-color: lightgrey;
  min-width: 100svw;
  min-height: 100svw;
}
p {
  font-size: 18px;
  color: #7209b7;
}
article {
  height: 80%;
  width: 23%;
  margin: 0px 10px;
  display: inline-block;
  text-align: center;
}
section {
  height: 100px;
  width: 400px;
}
#cat-stuff {
  border: 3px grey outset;
}
.cats-do {
  border-right: 2px solid rgb(3, 18, 3);
}
img {
  width: 300px;
}
footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
